---
layout: base
---
#content
	<section class="scroll-section services block gray" id="services">
	    <div class="container">
	        <h2>Erreur 404</h2>
	        <div class="row-fluid">
	          <div class="span12"> 
                <h3>Page introuvable !</h3>
                <ul><li>Si vous pensez que c'est un bug -> contact@mgreau.com</li>
                <li>Sinon RDV sur mon <a href="/blog">Blog</a> ou sur la <a href="/">Homepage</a></li>
                </ul>
	          </div>
	        </div>
	    </div>
    </section>
