---
layout: base
---
<section class="scroll-section books block gray" id="books">
	    <div class="container">
	        <h2>Books</h2>
	        <div class="row-fluid">
	          	<div class="span12"> 
	             	
	             	<div class="media">
	             		<a class="pull-left" href="#">
	             			<img class="media-object" src="/images/timeline/apache_maven.jpg"  >
	             		</a>
	             		<div class="media-body">
							<h3 class="media-heading">Apache Maven </h3><h4>Maitrisez l'infrastructure d'un projet Java EE</h4>
					        <p >Ce livre sur Apache Maven (en version 3 au moment de l’écriture), s’adresse à <strong>tout développeur </strong>amené à travailler sur des projets Java de taille conséquente. Il sert également de <strong>guide pour les architectes</strong> qui souhaitent mettre en œuvre Apache Maven sur un nouveau projet ou sur un projet existant. Apache Maven, créé il y a tout juste 10 ans, tient aujourd’hui une <strong>place centrale </strong>dans l’écosystème du <strong>développement logiciel </strong>sur la plate-forme Java EE.
							Du développeur Java débutant à l’architecte technique, chaque lecteur trouvera dans cet ouvrage des informations claires et précises, <strong>illustrées</strong> <strong>par de nombreux schémas</strong>, pour aborder avec sérénité la <strong>découverte d’Apache Maven, jusqu’à sa gestion </strong>au sein d’une infrastructure projet. L’auteur propose régulièrement au lecteur de <strong>réaliser des travaux pratiques</strong> pour se forger une première expérience significative sur le produit.<br/>
							<a href="/books/apache-maven.html" title="Détails complet du livre">Voir le détail complet du livre</a></p>
						</div>
					</div>
               	</div>
	        </div>
	    </div>
</section>	
