---
layout: base
---
<section class="scroll-section books block gray" id="books">
	    <div class="container">
	        <h2>Books</h2>
	        <div class="row-fluid">
	          <div class="span12"> 
	          <h3>Apache Maven - Maîtriser l'infrastructure de vos projets Java EE</h3>
                 </div>
	        </div>
	    </div>
</section>	
