---
layout: base
---
<section class="scroll-section experience block" id="experience">
		<div class="container">
		  <h2>Experience</h2>
		  	<ul class="timeline">
		    	<li>
		      		<h3 class="timeline-breaker">2008 - Now</h3>
		      		<ul>
						<li class="timeline-item highlight"> 
						  <h4 class="timeline-item-date">Avril 2010 - present</h4>
						  <h5 class="timeline-item-role">Architecte technique Java EE @ Ministère des Finances - SRE | Nantes (44)</h5>
						  <p class="timeline-item-description">Projet CIR - Java EE - SOA - JBoss EAP</p>
							
						</li>

						<li class="timeline-item right" style="margin-top:20px;">
						  <h4 class="timeline-item-date">Octobre 2013</h4>
						  <h5 class="timeline-item-role">Formation Java EE 6 by Antonio Goncalves @ Xebia - Paris</h5>
						  <p class="timeline-item-description">Architecture d'aujourd'hui autour de Java EE 6</p>
						</li>

						<li class="timeline-item right" style="margin-top:20px;">
						  <h4 class="timeline-item-date">Octobre 2013</h4>
						  <h5 class="timeline-item-role">Formation JAVA PERFORMANCE TUNING by Kirk Pepperdine @ Xebia - Paris</h5>
						  <p class="timeline-item-description">Optimiser la performance de vos applications Java grâce à : l’outillage nécessaire, les méthodologies à appliquer, les concepts d’architecture sous jacents à la performance, les meilleures pratiques, le benchmarking et la gestion de mémoire </p>
						</li>
						
						<li class="timeline-item right" style="margin-top:20px;">
						  
						  <h4 class="timeline-item-date">Novembre 2012</h4>
						  <h5 class="timeline-item-role">Speaker @ DevFest Nantes - Google Cloud Endpoints</h5>
						  <p class="timeline-item-description">Session de 1h sur Google AppEngine - Cloud Endpoints</p>
						</li>
	    
						<li class="timeline-item">
						  <img src="/images/timeline/apache_maven.jpg" class="timeline-item-photo right img-bg-primary-light" alt="Livre Apache Maven" />
						  <h4 class="timeline-item-date">Septembre 2010 - Avril 2011</h4>
						  <h5 class="timeline-item-role">Author @ Edition ENI - Apache Maven 3</h5>
						  <p class="timeline-item-description">Ecriture d'un livre sur Apache Maven 3.0.x</p>
						  <a href="#" class="btn btn-mini btn-primary-light btn-square">View Project</a>
						</li>

						<li class="timeline-item right">
						  <img src="/images/timeline/fiaveo.png" class="timeline-item-photo img-bg-primary" alt="timeline photo" />
						  <h4 class="timeline-item-date">Septembre 2009 - Avril 2011</h4>
						  <h5 class="timeline-item-role">FiaVeo - Independant</h5>
						  <p class="timeline-item-description">Réalisation de projets Web  - SEO - HTML/CSS - Java (Play! Framework 1.x) - PHP (Symfony 1.x)</p>
						</li>
						
						<li class="timeline-item">	  
							<h4 class="timeline-item-date">Mars 2008 - Décembre 2009</h4>
							<h5 class="timeline-item-role">Architecte Concepteur Développeur J2EE @ Ministère des Finances - SRE | AUSY | Nantes (44)</h5>
							<p class="timeline-item-description">Projet CIR - Portail Web - JBoss AS 4.2.x - JBoss Portal - Struts 2</p>
						</li>
			
		      		</ul>
		    	</li>
		    
			
			<li>
		      <h3 class="timeline-breaker">2002-2008</h3>
				<ul>
					<li class="timeline-item">	  
					  <h4 class="timeline-item-date">Février 2007 - Mars 2008</h4>
					  <h5 class="timeline-item-role">Concepteur Développeur J2EE @ Ministère des Finances - SRE | AUSY | Nantes (44)</h5>
					  <p class="timeline-item-description">Projet CIR - Collecte d'informations - Application Web Java / Struts 1.x - Apache Tomcat</p>
					</li>
			    
					<li class="timeline-item right">
					  <h4 class="timeline-item-date">Septembre 2005 - Février 2007</h4>
					  <h5 class="timeline-item-role">Concepteur Développeur J2EE @ Bodet SA | SSII | Cholet (49)</h5>
					  <p class="timeline-item-description">Solution de gestion du temps – Application Web
					  <ul><li>Mise en place du processus de production via Maven 2 (from Ant to Maven 2)</li><li>Developpement Java/JSP/HTML</li></ul>
					  </p>
					</li>

					<li class="timeline-item overlap-off">
					  <h4 class="timeline-item-date">Avril 2003 - Août 2005</h4>
					  <h5 class="timeline-item-role">Concepteur Développeur J2EE @ Cogitec | Nantes (44)</h5>
					  <p class="timeline-item-description">Application J2EE (UML, Java, JSP, Servlet, JDBC, Tomcat, Mysql) pour la gestion administrative de la société (catalogue de formations, stagiaires, prospects...) ainsi que la gestion du site web (cogitec.fr)</p>
					  <a href="http://www.cogitec.fr" class="btn btn-mini btn-primary-light btn-square">Accéder à cogitec.fr</a>
					</li>
					
					<li class="timeline-item right">
					  <h4 class="timeline-item-date">Janvier 2002 - Juin 2002</h4>
					  <h5 class="timeline-item-role">Developeur PHP @ Carrière et Image | Nantes (44)</h5>
					  <p class="timeline-item-description">Site Web de Gestion de jeunes footballeurs (PHP/MySQL)</p>
					</li>
				</ul>
		    </li>
		    
		    <li class="timeline-end">
		      <h5 class="timeline-breaker">Want to know more? Contact me : contact [at] mgreau.com</h5>
		      
		    </li>
		  </ul>
		</div>
</section>
