---
layout: base
---
#content
    <section class="scroll-section experience block" id="experience">
		<div class="container">
		  <h2>Experience</h2>
		  	<ul class="timeline">
		    	<li>
		      		<h3 class="timeline-breaker">Now</h3>
		      		<ul>
						<li class="timeline-item highlight">
						  <img src="img/timeline/photo5.png" class="timeline-item-photo img-bg-primary" alt="timeline photo" />		  
						  <h4 class="timeline-item-date">Avril 2010 - present</h4>
						  <h5 class="timeline-item-role">Senior developer @ Choco Media</h5>
						  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
						</li>
	    
						<li class="timeline-item right">
						  <img src="img/timeline/photo2.png" class="timeline-item-photo right img-bg-primary-light" alt="timeline photo" />
						  <h4 class="timeline-item-date">Septembre 2010 - Juin 2011</h4>
						  <h5 class="timeline-item-role">Author @ Edition ENI</h5>
						  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus!</p>
						  <a href="#" class="btn btn-mini btn-primary-light btn-square">View Project</a>
						</li>

						<li class="timeline-item">
						  <img src="img/timeline/photo3.png" class="timeline-item-photo img-bg-primary" alt="timeline photo" />
						  <h4 class="timeline-item-date">March 2013 - April 2013</h4>
						  <h5 class="timeline-item-role">Druapl Consultant, freelance</h5>
						  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
						</li>
			
						<li class="timeline-item right highlight">
						  <img src="img/timeline/photo6.png" class="timeline-item-photo right" alt="timeline photo" />
						  <h4 class="timeline-item-date">January 2013 - present</h4>
						  <h5 class="timeline-item-role">Founder of Themelize.me</h5>
						  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
						</li>
			
						<li class="timeline-item">		  
						  <h4 class="timeline-item-date">Throughout 2013 - present</h4>
						  <h5 class="timeline-item-role">Creative Consultant, Freelance</h5>
						  <a href="#" class="btn btn-mini btn-primary-light btn-square">View Related Projects</a>
						</li>		
		      		</ul>
		    	</li>
		    
		    <li>
		      <h3 class="timeline-breaker">2012</h3>
				<ul>
					<li class="timeline-item">
					  <img src="img/timeline/photo5.png" class="timeline-item-photo right img-bg-primary" alt="timeline photo" />		  
					  <h4 class="timeline-item-date">June 2013 - present</h4>
					  <h5 class="timeline-item-role">Senior developer @ Choco Media</h5>
					  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
					</li>
			    
					<li class="timeline-item right">
					  <h4 class="timeline-item-date">April 2013 - June 2013</h4>
					  <h5 class="timeline-item-role">Technical Lead @ Chimp Productions</h5>
					  <p class="timeline-item-description">Porttitor pellentesque urna lectus!</p>
					</li>

					<li class="timeline-item overlap-off">
					  <h4 class="timeline-item-date">March 2013 - April 2013</h4>
					  <h5 class="timeline-item-role">Druapl Consultant, freelance</h5>
					  <p class="timeline-item-description">Magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
					</li>
					
					<li class="timeline-item right">
					  <h4 class="timeline-item-date">July 2012 - May 2013</h4>
					  <h5 class="timeline-item-role">Frontend Consultant</h5>
					  <p class="timeline-item-description">Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
					</li>
				</ul>
		    </li>
		    
		    <li class="timeline-end">
		      <h5 class="timeline-breaker">Want to know more?</h5>
		      <a href="#contact" class="btn btn-large btn-primary-light btn-square"><i class="icon-envelope"></i> Contact Me</a> <a href="#contact" class="btn btn-large btn-primary btn-square"><i class="icon-download-alt"></i> Download CV</a>
		    </li>
		  </ul>
		</div>
	</section>
