---
layout: base
---
	<section class="scroll-section about block primary" id="about">
	     <div class="container">
	        <div class="row-fluid">
	          <div class="span3 photo">
	            <img src="https://lh5.googleusercontent.com/-AVzhFT9duBI/UWajPzPJQRI/AAAAAAAAaAk/wiYM4q5IQ3k/w1008-h1010-no/IMG_20130326_151421.jpg" alt="Me on Golden Gate !" class="img-circle pull-center" />
	          </div>
	          <div class="span9 details">
	            <h2 class="primary-focus">Maxime Gréau</h2>
	            <h3 class="secondary-focus">IT Architect and Author</h3>
	            <p>Hi there. I'm a front-end developer with over 11 years experience. I have a passion for details and visual quality. Experience on handling ambitious deadlines, organized and a good team-player.</p>
	            <div class="margin-top">
	                <a href="#experience" class="btn btn-large btn-primary-grad">Find Out More <i class="icon-angle-down"></i></a>
	            </div>
	          </div>
	        </div>
	     </div>
    	</section>
	<section class="scroll-section services block gray" id="services">
	    <div class="container">
	        <h2>Blog</h2>
	        <div class="row-fluid">
	          <div class="span12 service"> 
	                =partial('pagination.html.slim', :posts => page.posts)
				    div style="clear: both"
				    - page.posts.each do |post|
				        =partial('entry.html.slim', :post => post, :listing => true)
				    =partial('pagination.html.slim', :posts => page.posts)    
	          </div>
	        </div>
	    </div>
    	</section>	
