---
layout: base
---
<section class="scroll-section about block primary" id="about">
	     <div class="container">
	        <div class="row-fluid">
	          <div class="span3 photo">
	            <img src="https://lh5.googleusercontent.com/-AVzhFT9duBI/UWajPzPJQRI/AAAAAAAAaAk/wiYM4q5IQ3k/w1008-h1010-no/IMG_20130326_151421.jpg" alt="Golden Gate by bike :)" class="img-circle pull-center" />
	          </div>
	          <div class="span9 details">
	            <h2 class="primary-focus">Maxime Gréau</h2>
	            <h3 class="secondary-focus">IT Architect and Author - Java EE, Maven and Web</h3>
	            <p>I'm a Software Developer with over 10 years experience. I wrote a book about Apache Maven 3.</p>
	            <div class="margin-top">
	                <a href="/experience.html" class="btn btn-large btn-primary-grad">Find Out More <i class="icon-angle-down"></i></a>
	            </div>
	          </div>
	        </div>
	     </div>
</section>
<section class="scroll-section services block gray" id="services">
	    <div class="container">
	        <h2>Latest Posts</h2>
	        <div class="row-fluid">
	          <div class="span12"> 
	          	<ul>
				    - page.posts.each do |post|
				       ="<li><h4><a href=#{post.url}>#{post.title}</a> #{post.date.strftime('%d/%m/%Y')}</h4></li>"
				</ul>
	          </div>
	        </div>
	    </div>
</section>	
