doctype 5
html
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    title=(page.title ? [page.title, site.title] : [site.title]) * ' | '
    link rel="stylesheet" href='/stylesheets/bootstrap.css'
    link rel="stylesheet" href='/stylesheets/bootstrap-responsive.css'
    - if page.layout == 'post'
      link rel="stylesheet" href='/stylesheets/asciidoctor.css'
      link rel="stylesheet" href='/stylesheets/asciidoctor-coderay.css'
    link rel="stylesheet" href='/stylesheets/font-awesome.min.css'
    link rel="stylesheet" href='/plugins/flexslider/flexslider.css'
    link rel="stylesheet" href='/stylesheets/theme-style.css'
    link rel="stylesheet" href='/stylesheets/alternative-colour.css'
    link rel="stylesheet" href='/stylesheets/custom-style.css'
    link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
    link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Condiment'
      
    script src='/plugins/retina/retina.js'

  body class="has-navbar-fixed-top page-index"
    div.wrapper id="navigation" 
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">          
            <div class="brand">
              <h1><a href="/"><span class="em">[site.title]</span></a></h1>
            </div>
            <a class="mobile-toggle-trigger"><i class="icon-reorder"></i></a>
            <a class="mobile-toggle-trigger scroll-nav" data-js="scroll-show"><i class="icon-reorder"></i></a>
            <div class="mobile-toggle pull-right">
              <ul class="nav" id="main-menu">
                <li class=""><a href="/">About</a></li>
                <li class=""><a href="/books.html">Books</a></li>
                <li class=""><a href="/blog.html">Blog</a></li>
                <li class=""><a href="/experience.html">Work / Experience</a></li>
                <li class=""><a href="#contact" class="stamp">Contact</a></li>              
              </ul>
            </div>
          </div>
        </div>
      </div>
    div id="content"
      = content
    footer id="footer"
        <div class="container">
          <div class="row-fluid pull-center">
            <div id="contact" class="social-media">
              <a title="My Twitter account - @mgreau" href="https://twitter.com/mgreau"><i class="icomoon-twitter-3"></i></a>
              <a title="My G+ account"  href="https://plus.google.com/u/0/110674805154532168093/posts/p/pub"><i class="icomoon-google-plus-4"></i></a>
              <a title="My Github account - mgreau"  href="https://github.com/mgreau"><i class="icomoon-github-3"></i></a>
              <a title="My LinkedIn account"  href="https://fr.linkedin.com/in/mgreau"><i class="icomoon-linkedin"></i></a>
            </div>
            <p>Copyright 2013 © <a href="http://mgreau.com">mgreau.com</a></p>
          </div>
        </div>    
    javascript:
    - if site.google_analytics
        =google_analytics_async

    script src='/javascripts/jquery.js'
    script src='/javascripts/bootstrap.min.js'
    
    script src='/plugins/flexslider/jquery.flexslider-min.js'
    script src='/plugins/jPanelMenu/jquery.jpanelmenu.min.js'
    script src='/plugins/jRespond/js/jRespond.js'
    script src='/plugins/onePageNav/jquery.scrollTo.js'
    script src='/plugins/onePageNav/jquery.nav.js'

    script src='/javascripts/script.js'
